
.pxltr_wpr{
	display: block;
	border: 1px solid #a1a1a1;
	overflow: hidden;
	
}

.pxltr_wpr .toolbar{
	display: block;
	background: #c0c0c0;
	border: 1px solid #a1a1a1;
	margin-top: -1px;
}
.pxltr_wpr .toolbar_wpr{
	padding: 10px;
	text-align: left;
}
.pxltr_wpr .pxltr_btn{
	display: inline-block;
	background: #a1a1a1;
	color: #fff;
	border-radius: 2px;
	padding: 5px;
	cursor: pointer;
	text-decoration: none;

}
.pxltr_wpr .pxltr_btn:hover{
	background: #0080ff !important;

}
.pxltr_wpr .rightAlign{
	float: right;
	margin-left: 5px;
}
.pxltr_wpr .toggler{
	display: inline-block;
}
.pxltr_wpr .toggler .pxltr_btn{
	border-radius: 0px;
	margin: 0px;

}

.pxltr_wpr .toggler .pxltr_btn:first-child{
	border-radius: 5px 0 0  5px;
}
.pxltr_wpr .toggler .pxltr_btn:last-child{
	border-radius: 0 5px 5px 0;
}
.pxltr_wpr .pxltr_btn.disabled{
	background: #c3c3c3;
	 pointer-events: none 
}
.pxltr_wpr .pxltr_btn:active,.pxltr_btn.active{
	background: #ff3333;

}
